body {
  font-family: 'Poppins', sans-serif;
  background-color: #222831;
  color: #fff;
  /* Crisp white text for readability */
  height: 200vh;
  position: relative;
}

/* Navigation */
.nav-link {
  color: #fff;
  font-size: 18px;
  position: relative;
  /* Crisp white for navigation links */
}

.navbar-brand img {
  max-width: 150px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  /* Crisp white text for navigation links */
}

.navbar-dark .navbar-nav .nav-link::after {
  content: '';
  width: 0;
  height: 3px;
  background: #2272FF;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.navbar-dark .navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-toggler.active {
  color: #2272FF !important;
}

.navbar-dark .navbar-toggler-icon {
  background-color: transparent;
}

.navbar-dark .navbar-toggler:focus {
  outline: none;
}

@media (max-width: 991px) {
  .navbar-brand img {
    max-width: 150px;
  }

  .nav-link {
    font-size: 16px;
  }
}

/* Hero Section */
.hero {
  background-color: #222831;
  color: #fff;
  padding: 100px 0;
}

.hero p {
  font-size: 1.25rem;
  /* Adjust the font size as needed */
}

.hero h1 {
  font-size: 60px;
}

.hero h1 span {
  color: #2272FF;
}

@media (max-width: 768px) {
  .hero {
    padding: 0;
  }

  /* Adjustments for smaller screens */
  .hero .container {
    padding-top: 20px;
  }

  .hero p {
    font-size: 1rem;
    /* Adjust the font size as needed */
  }

  .hero h1 {
    font-size: 40px;
    /* Adjust the font size as needed */
  }
}

/* About Section */
.about-section {
  padding: 100px 0;
}

.about-section img {
  max-width: 100%;
  border-radius: 15px;
}

.about-content {
  padding-left: 40px;
}

.about-content h3 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #2272FF;
}

.about-content h4 {
  font-size: 24px;
  margin-bottom: 15px;
}

.nav-tabs {
  margin-top: 20px;
  border-bottom: none;
}

.nav-tabs .nav-link {
  color: #fff;
  border: none;
}

.nav-tabs .nav-link::after {
  content: '';
  width: 0;
  height: 3px;
  background: #2272FF;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.nav-tabs .nav-link:hover::after {
  width: 50%;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  color: #2272FF;
  background-color: transparent;
  font-weight: 500;
}

.nav-tabs .nav-item {
  margin-bottom: 10px;
}

.tab-content .tab-pane {
  padding: 20px 0;
}

/* Timeline for Experience */
ul.timeline {
  list-style: none;
  position: relative;
}

ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline>li {
  margin: 0;
  padding-left: 20px;
}

ul.timeline>li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

ul.timeline a {
  text-decoration: none;
  color: #2272FF;
}

@media (max-width: 768px) {
  .about-section {
    padding: 50px 0;
  }

  .about-content {
    padding-left: 0;
  }

  .about-content h3 {
    margin-top: 10px;
    font-size: 25px;
  }

  .about-content h4 {
    font-size: 18px;
  }

  ul.timeline a {
    font-size: 15px;
  }
}

/* Timeline of Education */
.timeline-2 {
  border-left: 3px solid #2272FF;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: transparent;
  margin: 0 auto;
  position: relative;
  padding: 30px;
  list-style: none;
  text-align: left;
  max-width: 80%;
}

.timeline-2 .edu {
  border-bottom: 2px dashed #ababab;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline-2 {
    max-width: 90%;
    padding: 45px;
    left: 60px;
  }

  .timeline-2 .edu {
    padding-top: 5px;
  }
}

.timeline-2 .edu:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline-2 .edu:before,
.timeline-2 .edu:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-2 .edu:before {
  left: -170px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

@media (max-width: 767px) {
  .timeline-2 .edu:before {
    left: -120px;
    text-align: left;
    font-size: medium;
  }
}

.timeline-2 .edu:after {
  -webkit-box-shadow: 0 0 0 3px #393E46;
  box-shadow: 0 0 0 3px #00ADB5;
  left: -35.8px;
  background: #fff;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

@media (max-width: 767px) {
  .timeline-2 .edu:after {
    left: -51.6px;
  }
}

/* Services Section */
.services-section {
  padding: 45px 0;
}

.sub-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 32px;
}

.card {
  background-color: #262626;
  border: none;
  font-weight: 300;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: background 0.5s, tansform 0.5s;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.card-text {
  font-size: 16px;
  margin-bottom: 30px;
  color: #ababab;
}

.card:hover {
  transform: translateY(-10px);
}

.card i {
  font-size: 40px;
  color: #2272FF;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .services-section {
    padding: 40px 5px;
  }

  .sub-title {
    font-size: 28px;
    /* Decrease font size for sub-title */
  }

  .card {
    margin-bottom: 30px;
    /* Add margin between cards */
  }

  .card-body {
    padding: 20px;
    /* Adjust padding for card body */
  }
}

/* Portfolio Section */
.portfolio-section {
  padding: 80px 0;
}

.portfolio-section .sub-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 32px;
}

.card {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.card .portfolio {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #2272FF);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.portfolio-section .card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.portfolio-section .card-text {
  font-size: 16px;
  margin-bottom: 30px;
}

.portfolio-section .btn-outline-light {
  color: #fff;
  border-color: #fff;
}

.card img:hover {
  transform: scale(1.1);
}

.card:hover .card-body {
  height: 100%;
}

.portfolio-section .btn-outline-light:hover {
  background-color: #fff;
  color: #2272FF;
}

.work-more {
  margin: 50px auto;
  width: 60%;
}

@media (max-width: 768px) {
  .portfolio-section {
    padding: 60px 0;

    /* Decrease padding for smaller screens */
  }

  .portfolio-section .sub-title {
    font-size: 28px;
    /* Decrease font size for sub-title */
  }

  .card {
    margin-bottom: 30px;
    align-items: center;
    /* Add margin between cards */
  }

  .card img {
    height: 280px;
    width: 80%;
    /* Adjust height of thumbnail images */
  }

  .card .portfolio {
    width: 80%;
    height: 280px;
    transition: none;
    left: 39px;
  }

  .work-more {
    width: 50%;
    margin: 20px auto;
    background-color: #2272FF;
    color: #fff;
  }
}

/* Contact Section */
.contact-section {
  padding: 80px 0;
}

.contact-info h3,
.contact-form h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 18px;
  margin-bottom: 15px;
}

.social-icons a {
  display: inline-block;
  margin-right: 15px;
  color: #2272FF;
  font-size: 20px;
  /* Adjust color as needed */
}

.social-icons a:last-child {
  margin-right: 0;
}

.contact-form form .form-group {
  margin-bottom: 25px;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.contact-form form textarea {
  resize: vertical;
}

.contact-form form button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #2272FF;
  /* Primary color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form form button:hover {
  background-color: #0056b3;
  /* Darker shade of primary color */
}

@media (max-width: 768px) {
  .contact-section {
    padding: 60px 0;
    /* Decrease padding for smaller screens */
  }

  .contact-info h3,
  .contact-form h3 {
    font-size: 22px;
    /* Decrease font size for headings */
  }

  .contact-info p {
    font-size: 16px;
    /* Decrease font size for paragraphs */
  }

  .social-icons a {
    font-size: 24px;
    /* Decrease font size for social icons */
  }

  .contact-form form input[type="text"],
  .contact-form form input[type="email"],
  .contact-form form textarea {
    font-size: 14px;
    /* Decrease font size for form inputs */
  }

  .contact-form form button {
    font-size: 16px;
    /* Decrease font size for button */
  }
}

/* Footer */
footer.bg-dark.text-light {
  background-color: #1D1D1D;
  padding: 20px 0;
  text-align: center;
  /* Align content to center */
}

footer p {
  margin: 0;
}

footer span {
  color: #2272FF;
  font-weight: bold;
}

@media (max-width: 768px) {
  footer p {
    font-size: 14px;
  }
}